$background: #333544;
$current-line: rgba(255, 255, 255, 0.14);
$foreground: #ededed;
$comment: #969896;
$blue: #96cbfe;
$purple: #96cbfe;
$red: #ec007c;
$green: #72dc94;
$gray: #676767;
$aqua: #8abeb7;
$yellow: #edfaa2;
$attribute: #96cbfe;
$property: #ededed;
$quote: #555;
$tag: #96cbfe;
$variable: #ededed;
$link: #555;

body {
    font-family:'Source Code Pro', 'source-code-pro', 'Conso', Courier New, monospace, sans-serif;
    font-size: 12px;
    background-color: $background;
    color: #fff;
}

.jp-playlist {
    margin-bottom: 10em;
}

.playlist li {
    float: none;
    margin-left: 10px;
    margin-top: 1em;
}

.jp-current-time, .jp-duration {
    color: $yellow;
}

.selected {
    display: block;
   // position: fixed;
    //bottom: 0;
    //width: 100%;
    //padding: 10px 0;
    //background-color: $background;
}

.player .selected a,
.player .selected a:link,
.player .selected a:visited,
.player .selected a:hover,
.player .selected a:focus,
.player .selected a:active,{
    color: $green;
}

.player a,
.player a:link,
.player a:visited,
.player a:hover,
.player a:focus,
.player a:active {
    color: $blue;
}

.player {
    margin-top: 2em;
}

.player ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.player .selected li {
    float: left;
    margin-right: 1em;
}

.player .copyright {
    margin-bottom: 2em;
    font-size: 10px;
}

.player .selected .copyright a {
    color: $red;
}

div.jp-type-playlist div.jp-playlist li.jp-playlist-current a {
  color: $yellow; }

.column {
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
   }

.container {
    width: 100%;
}

.line {
color: $red;
position: absolute;
bottom: 0;
display: inline-block;
max-height: 20px;
overflow: hidden;
margin: 0;
padding: 0;
float: left;
white-space: nowrap;
}

.top {
    position: absolute;
    top: 0;
}

@media screen and (max-height:568px) {
    #vol {
        display: none;
    }
    .column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0em;
    -moz-column-gap: 0em;
    column-gap: 0em;
   }
}