$background: #333544;
$current-line: rgba(255, 255, 255, 0.14);
$foreground: #ededed;
$comment: #969896;
$blue: #96cbfe;
$purple: #96cbfe;
$green: #72dc94;
$gray: #676767;
$aqua: #8abeb7;
$yellow: #edfaa2;
$attribute: #96cbfe;
$property: #ededed;
$quote: #555;
$tag: #96cbfe;
$variable: #ededed;
$link: #555;

body {
    font-family: 'source-code-pro', sans-serif;
    font-size: 14px;
    background-color: $background;
    color: #fff;
}

.jp-playlist {
    margin-top: 2em;
    margin-bottom: 10em;
}

.playlist ul {
    margin: 2em 0;
}
.playlist li {
    float: none;
    margin-left: 10px;
    margin-top: 1em;
}

.jp-current-time, .jp-duration {
    color: $yellow;
}

.selected {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: $background;
}

.player a,
.player a:link,
.player a:visited,
.player a:hover,
.player a:focus,
.player a:active {
    color: $blue;
}

.player ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.player .selected li {
    float: left;
    margin-right: 1em;
}

.player .copyright {
    margin-bottom: 2em;
    font-size: 10px;
}

.player .copyright a {
    color: $green;
}

div.jp-type-playlist div.jp-playlist li.jp-playlist-current a {
  color: $green; }